<div id="<%= dom_id shot %>" class="shot" style="background-color: <%=shot.color %>">
  <p class="my-5">
    <%= shot.title %>
  </p>


  <% if action_name != "show" %>
    <%= link_to "Show this shot", shot, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this shot', edit_shot_path(shot), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
